
@font-face {
    font-family: "WorkSans";
    src: url("../fonts/WorkSans-Regular"); /* IE9 Compat Modes */
    src: url("../fonts/WorkSans-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/WorkSans-Regular.otf") format("opentype"), /* Open Type Font */
    url("../fonts/WorkSans-Regular.svg") format("svg"), /* Legacy iOS */
    url("../fonts/WorkSans-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/WorkSans-Regular.woff") format("woff"), /* Modern Browsers */
    url("../fonts/WorkSans-Regular.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}
/*General css*/
* {
    margin: 0;
    padding: 0;
}
body {
    font-family:'WorkSans';
    background: #29536B url('../img/Background.png') no-repeat;
    background-size: cover;
}
body::-webkit-scrollbar { width: 7px;} 
body::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
body::-webkit-scrollbar-thumb {
    background-color: #000;
    outline: 1px solid #000;
	border-radius: 20px;
}

::selection {
    background: #000; /* WebKit/Blink Browsers */
	color: #fff;
}
::-moz-selection {
    background: #000; /* Gecko Browsers */
	color: #fff;
}
a {
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    color: #FFF ;
    text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: #FFF ;
}
h1,h2,h3,h4,h5,h6{
    font-weight: bold;
    margin: 0;
}

img {
	max-width: 100%;
	max-height: 100%;
}
p {
    padding: 0;
    margin: 0;
}

/******* loading *********/

.loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #29536B;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes spin {
    from {
        transform: rotate(0);
    }
    to{
        transform: rotate(359deg);
    }
}
.spinner-box {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.solar-system {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orbit {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ffffffa5;
    border-radius: 50%;
}

.earth-orbit {
    width: 165px;
    height: 165px;
    -webkit-animation: spin 12s linear 0s infinite;
}

.venus-orbit {
    width: 120px;
    height: 120px;
    -webkit-animation: spin 7.4s linear 0s infinite;
}

.mercury-orbit {
    width: 90px;
    height: 90px;
    -webkit-animation: spin 3s linear 0s infinite;
}

.planet {
    position: absolute;
    top: -5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #3ff9dc;
}

.sun {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #ffab91;
}

/******* header *********/

.wrapper {
    max-width: 960px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
header .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}
header .head .logo {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
}
header .degree-c-f {display: flex;}
header .degree-c-f span {
    width: 76px;
    height: 48px;
    color: #FFF;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
button[aria-selected="true"] {
    border-bottom: 2px solid #FFF;
    color: #FFF;
}
header .degree-c-f .active {
    background: rgba(255, 255, 255, 0.25);
    border-left: 2px solid #FFFFFF;
}

/****** main content *********/


.weahter {
    padding: 170px 0 105px;
}
.weahter .weather-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFF;
    padding-bottom: 80px;
}
.weahter .weather-body h1 {
    font-size: 64px;
    margin-bottom: 10px;
    line-height: 75px;
}
.weahter .weather-body .date {
    font-size: 20px;
    font-weight: bold;
}
.weahter .weather-body .weather-icon i {
    margin: 35px 0 15px;
    font-size: 60px;
    color: #FCB641;
    font-weight: bold;
}
.weahter .weather-body h4 {
    font-size: 30px;
}
.weahter .town-degree {text-align: right;}
.weahter .town-degree h2 {
    font-size: 117px;
    position: relative;
    display: inline-block;
}
.weahter .town-degree h2 .icon {
    font-size: 100px;
    top: -39px;
}
.weahter .town-degree .icon {
    position: absolute;
    top: -16px;
    right: -40px;
}
.weahter .tempRange {
    font-size: 48px;
    margin: 12px 0 22px;
    display: flex;
    justify-content: flex-end;
}
.weahter .tempRange .high,
.weahter .tempRange .low {
    position: relative;
    display: inline-block;
    margin: 0 20px;
}
.weahter .tempRange .low
{
    color: rgba(255, 255, 255, 0.75);
}
.weahter .tempRange .icon {right: -19px;}
.weahter .town-degree .desc {
    font-weight: bold;
    font-size: 24px;
}

[role="tablist"]{
    border-bottom: 1px solid #FFF;
}
/* [role="tabpanel"] {
    padding: 38px 0;
} */
.tabs button {
    background: transparent;
    border: 0;
    color: rgba(255, 255, 255, 0.75);
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
    padding-bottom: 14px;
    margin-right: 50px;
    position: relative;
}
.tabs button::before {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: transparent;
}
.tabs button[aria-selected="true"] {
   border-bottom: 2px solid #FFF;
   color: #FFF;
}
.tabs button[aria-selected="true"]::before {background-color: #FFF;}
button:focus{ outline: 0;}
.hidden {display: none !important;}
.forecast {
    display: flex;
    overflow-x: scroll;
    flex-wrap: nowrap;
    color: #FFF;
    padding: 38px 0;

}
.forecast .box {
    width: 126px;
    min-width: 136px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.forecast .box p {font-size: 22px;}
.forecast .box i {
    font-size: 30px;
    color: #FCB641;
    margin: 20px 0;
}
.forecast .box .mini-temp {
    position: relative;
    font-size: 36px;
}
.forecast .box .mini-temp .icon
{
    position: absolute;
    top: -16px;
    right: -19px;

}
.forecast::-webkit-scrollbar { 
    width: 3px;
    height: 7px;
} 
.forecast::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgba(255, 255, 255, 1);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.forecast::-webkit-scrollbar-thumb {
	background-color: #FfF;
	outline: 1px solid #fff;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
}